<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" th:href="@{favicon.ico}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Add new word</title>
</head>
<body>


<form th:action="@{/word/add}" method="post" th:object="${word}">
    <div class="form-row p-4">
        <div class="form-group col-md-6">
            <label for="inputEmail4">Original*</label>
            <input type="text" name="original" class="form-control" id="inputEmail4" placeholder="Original Word">
        </div>
        <div class="form-group col-md-6">
            <label for="inputPassword4">Translation</label>
            <input type="text" name="translation" class="form-control" id="inputPassword4" placeholder="Optional">
        </div>
    </div>

    <div class="row justify-content-center">
        <button type="submit" class=" btn btn-primary w-50">Add</button>
    </div>
</form>

<script src="/listeningApi.js"></script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>
