<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
  <link rel="shortcut icon" th:href="@{favicon.ico}" type="image/x-icon">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <title>Main page</title>
</head>
<body>
<a name="top"></a>
<form th:action="@{/}">
  <input class="btn btn-outline-dark" type="submit" value="Home">
</form>
<form th:action="@{/word/add}">
  <input class="btn btn-outline-dark" type="submit" value="Add new word">
</form>
<hr>
<div>
  <span th:each=" letter :${letters}"><a class="h2" th:href="'#' + ${letter}" th:text="${letter}"></a> ,</span>
</div>

<table  border="1" width="100%" >
  <tr>
    <th>Original</th>
    <th>Translation</th>
    <th>Studied</th>
    <th>Delete</th>
    <th>Edit</th>
  </tr>
  <div th:each=" letter :${letters}">
  <tr>
    <th colspan="5" ><a th:name="${letter}"></a><h1 th:text="${letter}"></h1></th>
  </tr>

  <tr th:each=" word :${words}" th:if="${#strings.startsWith(word.original,letter)}">
    <td th:text="${word.original}"></td>
    <td th:text="${word.translation}" ></td>
    <td th:text="${word.studied}" ></td>
    <td>
      <form th:action="@{/word/delete}">
        <input type="hidden" name="id" th:value="${word.id}">
        <input class="btn btn-outline-dark" type="submit" value="Delete">
      </form>
    </td>
    <td>
      <form th:action="@{/word/edit}">
        <input type="hidden" name="id" th:value="${word.id}">
        <input class="btn btn-outline-dark" type="submit" value="Edit">
      </form>
    </td>
  </tr>
    <tr>
      <th colspan="5" ><a class="h2" href="#top">Top</a></th>
    </tr>
  </div>
</table>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>