<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="shortcut icon" th:href="@{favicon.ico}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>

<div class="row justify-content-center">
    <a class="w-75 btn btn-primary m-4" href="/word/show">Back</a>
</div>

<input type="hidden" name="id" th:value="${wordInfo.id}">

<h4 class="m-4">General</h4>

<div class="m-4">
    <input id="original" type="text" name="original" th:value="${wordInfo.original}">
    <input type="text" name="translation" th:value="${wordInfo.translation}">
</div>

<h4 class="m-4">Pronunciation</h4>

<div class="m-4">
    <p th:text="${wordInfo.description.pronunciation}"></p>

    <button class="btn btn-primary" id="playButton">Play</button>
</div>


<h4 class="m-4">Examples</h4>

<ul class="list-group m-4">
    <li class="list-group-item" th:each=" example :${wordInfo.description.examples}">
        <span th:text="${example}"></span>
    </li>
</ul>

<h4 class="m-4">Definitions</h4>

<div id="accordion" class="m-4">
    <div class="card" th:each=" definition, iterStat :${wordInfo.description.definitions}">
        <div class="card-header" th:id="'headingOne'+ ${iterStat.index}">
            <h5 class="mb-0">
                <button th:text="${definition.definition}" class="btn btn-link" data-toggle="collapse"
                        th:data-target="'#collapseOne' + ${iterStat.index}" aria-expanded="fasle"
                        aria-controls="collapseOne">
                    ---
                </button>
            </h5>
        </div>

        <div th:id="'collapseOne' + ${iterStat.index}" class="collapse"
             th:aria-labelledby="'headingOne'+ ${iterStat.index}" data-parent="#accordion">
            <div class="card-body">
                <h6>Part Of Speech</h6>
                <p th:text="${definition.partOfSpeech}"></p>
                <h6>Synonyms</h6>
                <ul>
                    <li th:each=" synonym :${definition.synonyms}">
                        <span th:text="${synonym}"></span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div>
<div id="transcription">
    <!-- Your transcription content will go here -->
</div>
</div>
<script>
    document.getElementById("playButton").addEventListener("click", () => {
        extracted();
    });

    window.onload = (event) => {
        extracted()
    };

    function extracted() {
        const synth = window.speechSynthesis;
        const utterance = new SpeechSynthesisUtterance(document.getElementById("original").value);

        // Set the voice to a preferred native-sounding voice if available
        const voices = synth.getVoices();

        const nativeVoice = voices.find(voice => voice.name === "Aaron");
        if (nativeVoice) {
            utterance.voice = nativeVoice;
        }

        // Adjust the rate (speech speed), pitch, and volume
        utterance.rate = 1.0;  // Adjust as needed, 1.0 is the default rate
        utterance.pitch = 1.0; // Adjust as needed, 1.0 is the default pitch
        utterance.volume = 1.0; // Adjust as needed, 1.0 is full volume

        synth.speak(utterance);
    }
</script>

<script src="/listeningApi.js"></script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>
</html>
