<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Repeating</title>
    <link rel="shortcut icon" th:href="@{favicon.ico}" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>
<body>

<div class="row justify-content-center">
    <div>
        <h1 th:text="${word.original}"></h1>
        <input type="hidden" id="original" th:value="${word.original}">
    </div>
</div>

<div class="container">
    <div class="row">
        <div th:each="one : ${words}" class="col">
 <form  th:action="@{/game/read/get}">
     <input type="hidden" name="id" th:value="${word.id}">
     <input type="hidden" name="right" th:value="${word.translation}">
     <input type="hidden" name="type" th:value="${one.translation}">
     <input class="btn btn-outline-dark" type="submit" th:value="${one.translation}">
 </form>
        </div>
    </div>
</div>

<script>
    window.onload = (event) => {
        extracted()
    };

    function extracted() {
        const synth = window.speechSynthesis;
        const utterance = new SpeechSynthesisUtterance(document.getElementById("original").value);

        // Set the voice to a preferred native-sounding voice if available
        const voices = synth.getVoices();

        const nativeVoice = voices.find(voice => voice.name === "Aaron");
        if (nativeVoice) {
            utterance.voice = nativeVoice;
        }

        // Adjust the rate (speech speed), pitch, and volume
        utterance.rate = 1.0;  // Adjust as needed, 1.0 is the default rate
        utterance.pitch = 1.0; // Adjust as needed, 1.0 is the default pitch
        utterance.volume = 1.0; // Adjust as needed, 1.0 is full volume

        synth.speak(utterance);
    }
</script>
<script src="/listeningApi.js"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>
